.homecont{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'left headerupper headerupper headerupper'
    'left main main main'
    ;
}

.left{
    grid-area: left;
    width: 15vw;
}
.header{
    grid-area: header;
}
.headerupper{
    grid-area: headerupper;
    width: 84vw;
}
.main{
    grid-area: main;
}
.homecont2{
    background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width:1300px){
    .left{
        display: none;
    }
    .main{
        width: 100vw;
    }
    .headerupper{
        width: 100vw;
    }
}
@media (max-width:1100px){
    .headerupper{
        display: none;
    }
}